<div class="row">
    <div class="col-md-6 col-xs-12">
        <p class="lead">
            <mark>{{paginacao.total}}</mark>
            produtos encontrados
            de
            <mark>{{paginacao.de_item}}</mark>
            até
            <mark>{{paginacao.ate_item}}</mark>
        </p>
    </div>
    <div class="col-md-6 col-xs-12 text-right">
        <div class="form-group has-feedback">
            <form class="form-inline" (submit)="buscaProdutos(busca)">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" #busca>
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
        </div>
    </div>
</div>

<table class="table tale-striped table-bordered">
    <tr *ngFor="let produto of paginacao.itens">
      <td>
          <span *ngFor="let imagem of produto.imagens">
            <img src="{{imagem.url}}" height="50">
          </span>
      </td>
      <td>
        <h3>{{produto.nome}}</h3>
        <strong>{{produto.categoria.nome}}</strong><br>
        {{produto.descricao}}
      </td>
        <td>
        <span *ngIf="produto.preco_atual">
            <del>De {{produto.preco_atual.valorDe | currency: 'BRL'}}</del><br>
            Por {{produto.preco_atual.valorPor | currency: 'BRL'}}
        </span>
        </td>
    </tr>
</table>

<div class="row">
    <div class="col-sm-6 col-xs-12">
        <select (change)="altera_qt_por_pagina(itens_por_pagina)" #itens_por_pagina class="form-control input-lg">
            <option *ngFor="let i of opts_itens_por_pagina" [selected]="i == parametros.itens_por_pagina">
                {{i}} produtos por página
            </option>
        </select>
    </div>


    <app-paginacao
            [parametros]="parametros"
            [paginacao]="paginacao"
    >
    </app-paginacao>
</div>
