<div class="col-sm-6 col-xs-12 text-right">
    <span *ngIf="!paginacao.e_primeira_pagina">
        <button class="btn btn-primary btn-lg" href="#" (click)="mudaPagina(1)">
            <span class="glyphicon glyphicon-backward"></span>
        </button>
        <button class="btn btn-primary btn-lg" href="#" (click)="mudaPagina(paginacao.pagina_anterior)">
            <span class="glyphicon glyphicon-step-backward"></span>
        </button>
    </span>
    <span *ngFor="let p of paginacao.paginas">
        <button class="btn btn-lg"
                [ngClass]="p == paginacao.pagina_atual ? 'btn-default' : 'btn-primary'"
                [disabled]="p == paginacao.pagina_atual"
                (click)="mudaPagina(p)">
            {{p}}
        </button>
    </span>

    <span *ngIf="paginacao.e_ultima_pagina == false">
        <button href="#" class="btn btn-primary btn-lg" (click)="mudaPagina(paginacao.proxima_pagina)">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button href="#" class="btn btn-primary btn-lg" (click)="mudaPagina(paginacao.ultima_pagina)">
            <span class="glyphicon glyphicon-forward"></span>
        </button>
      </span>
</div>